{% extends "base.html" %}

{% block title %}Registration Page{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto"><h4 class="my-2">Для регистрации заполните форму:</h4>
        <form method="POST" action="" class="my-4">{% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}
